body{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    color: #505050;

}
:root{
    --primary--color:#ff6600;
    --color--haeding:#0a0a0a;
    --bg--color--:#f5f7fa;
    --secondary--color:#0d92f4;
}

h1,h2,h3,a{
    color: var(--color--haeding);
}

.card-title{
    color: var(--secondary--color);
}
.stars svg{
    fill: #ff6600 !important;
}
.icon svg{
    fill: #ff6600 !important;
}
.button,.button-2{
    border:2px solid var(--secondary--color);
    color: var(--secondary--color);
}
.button-2{
    background-color: var(--secondary--color);
    color: #fff !important;
}

.card .button-2:hover{
background-color: #8fcaf9;
.button_arrow{
    transform: translateX(4px);
}

}
.button_arrow{
    transition: all 0.3s ease;
}
.bg-first{
    background-color: var(--bg--color--);
}
.bg-card{
background-color: var(--primary--color);
}
.splide__pagination{
  bottom: 0 !important;
}
.main-head{
    font-size: 4rem;
}
.title{
    color: var(--primary--color);
}
.bg-div{
    background-color: #f9f5f2;
}
.bg-small{
    background-color:#fbb800;
    border-bottom-right-radius: 15px;
}

.article a{
    color: #6e4ebd;
}
.circle{
    width: 25px;
    height: 25px;
    background-color:#6e4ebd;
}
.div-img{
    height: 350px;
    max-height: 350px;
    object-fit: fill;
}
.round{
    width: 132px;
    height: 132px;
    max-width: 132px;
}

.ribbon{

    background-color: #00245e;
   width: 115px;
    height: 36px;
}
 
.ribbon::before{
    border: 18px solid #00245e;
    border-left: 0;
    border-right: 18px solid transparent;
    position: absolute;
    top: 0;
    right: -20px;
    width: 30px;
    height: 30px;
    content: '';
    z-index: 1;
}

.ribbon::after{
    border: 18px solid #00245e;
    border-right: 0;
    border-left: 18px solid transparent;
    position: absolute;
    top: 0;
    left: -20px;
    width: 30px;
    height: 30px;
    content: '';
    z-index: 1;
}

.banner{
    background-color: #d2edeb;
}

@media(max-width:767px){
    .main-head{
        font-size: 25px;
    }
    .round{
        width: 80px;
        height: 80px;
    }
    .vertical-div{
        transform: translate(0,-100%) !important;
    }
}
.bg-box{
    background-color: #f1f4f7;
}

.round{
    transform: translateY(-60%);
}

.card-coupon span{
    color: #2e557c;
}
.card-coupon{
    /* border-style: dashed; */
    border: 1px dashed;
    border-color: #2e557c;
}

.button-2:hover{
    background-color: #8fcaf9;
    .button_arrow{
        transform: translateX(4px);
    }
}

.text-color-01
{
    color: var(--primary-color);
}

footer
{
    background-color: #424242;
}


#footer-links li:not(:first-child)::marker
{
   content: "| ";
   color: #fff;
}



.footer .iconimg{
    width: 100px;
    max-width: 100px;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap; /* Prevents text from wrapping */
}

.vertical-div {
    writing-mode: vertical-rl;
    height: 270px;
    width: 50px;
    background-color: var(--secondary--color);
    transform: translate(0,-27%);
}
.nav-item{
    color: var(--primary--color);
}
.footer-img{
    width: 170px;
    max-width: 170px;
}
.logo-img{
    width: 120px;
    max-width: 120px; 
}
.splide__pagination__page.is-active{
    background-color: #000 !important ;
}
.splide__arrow{
    background-color: transparent !important;
    /* background: #000 !important; */
}

.splide__arrow--prev {
    left: -40px; /* Push the left arrow outside */
}

.splide__arrow--next {
    right: -40px; /* Push the right arrow outside */
}

