
.content{
    width:100%;
    position: absolute;
    top: 10%;

  }
   .left-col{
     margin-left: 6%;
   }
   .left-col h1{
     font-size: 70px;
     color:#fff;
     line-height: 110px;
     float: left;
     margin-top: 100px;
   }
  .right-col{
    float:right;
    margin-right: 2%;
    margin-top: -160px;
    display: flex;
    align-items: center;
  }

  .right-colp{
    font-size: 18px;
    color:purple;
    font-weight: 400;
    margin-left: 15px;
  }
  #icon{
    width:100px;
    cursor: pointer;
  }
p{
  text-align: center;
  
}