/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    background: #fcfcfc;
    font-family: sans-serif;
}
footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    background: #3a2b6e;
    height: 500px;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    margin-top: 50px;
    box-sizing: border-box;
    position: relative;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1rem 0 3rem 0;
    margin-left: 1250px;
    box-sizing: border-box;
    position: relative;
}

.socials li{
    margin: 0 10px;
    margin-top: -80px;
    float: left;
    text-align: right;
    box-sizing: border-box;
    position: relative;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;

}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
    
}

.socials a:hover i{
    color: #eb5844;
}
.footer-bottom{
    background: rgb(10, 10, 10);
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-top:  -60px;
    box-sizing: border-box;
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#76888f;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }
 table,th,td,tr{
    font-size: small;
    padding: 5px;
    text-align: center;
}
table{
 border-collapse: collapse;
 margin: 500px auto;
 margin-top: 25px;
}
td,th,tr{
    margin: 50px;
}
th,td{
    line-height: 20px;
    width:200px;
}
table,th,td,tr, a:hover,li, i{
   cursor: pointer;
   
}


