body{ 
    width:100%;
position: relative;
   height: 800px;
  } 
 
.form-control {
	box-shadow: none;
	border-radius: 4px;
}
.navbar {
	background:#3C1053FF;
	padding-left: 46px;
	padding-right: 16px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
  height: 100px;
  margin-top: -20px;
  width: 100%;
}

.navbar .navbar-brand b {
	font-weight: bold;
	color: #eb5844;		
}

.dropdown:hover{
  animation-play-state: running;
  color: rgb(255, 127, 212);

}
.dropdown:hover > .dropdown-menu{
  display: block;
  background-color:white;
}
.dropdown-item:hover{
  background-color: white;
}
.navbar .navbar-nav > a {
	margin: 0 0.25rem;
}
.navbar a, .navbar a:active {
	color:pink;
	font-size: 25px;
	 background: transparent; 
}
.navbar a:hover, .navbar a:focus {
	color: #f08373;
}
.navbar .navbar-nav.show > a, .navbar .navbar-nav > a.active {
    color: #eb5844 !important;
    background: transparent !important;
}
.search-box {
	width: 100%;
	position: relative;
}	
.search-box input {		
	border-color: #dfe3e8;        
	box-shadow: none
}
.search-box input, .search-box .btn {
	min-height: 38px;
	border-radius: 2px;
}
.input-group-append .btn, .input-group-append .btn:active {
	border-color: #eb5844;
	background: #eb5844 !important;
}
.navbar .nav-item i {
	font-size: 28px;
	line-height: 16px;
}
.navbar .search-dropdown .dropdown-toggle::after {
	display: none;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #5f5f5f;
	box-shadow: 0 2px 8px rgba(104, 21, 21, 0.05);
}
.navbar .dropdown-menu a {
	padding: 6px 20px;
}
.navbar .search-dropdown .dropdown-menu {
	width: 400px;
	padding: 20px;
	left: auto;
	right: 0;
	font-size: 14px;
}
@media (max-width: 768px){
	.navbar .navbar-right .dropdown-menu {
		width: 100%;
		background: purple;
		padding: 10px 20px;
	}
	.navbar .input-group {
		width: 100%;
	}
  }  */
    { 
      padding: 0px;
       margin: 0px;
       font-family: Arial, Helvetica, sans-serif;
       
}
.content{
    width:100%;
    position: absolute;
    top: 10%;

  }
   .left-col{
     margin-left: 6%;
   }
   .left-col h1{
     font-size: 70px;
     color:#fff;
     line-height: 110px;
     float: left;
     margin-top: 100px;
   }
  .right-col{
    float:right;
    margin-right: 2%;
    margin-top: -160px;
    display: flex;
    align-items: center;
  }

  .right-colp{
    font-size: 18px;
    color:purple;
    font-weight: 400;
    margin-left: 15px;
  }
  #icon{
    width:100px;
    cursor: pointer;
  }
p{
  text-align: center;
  
}